
body{background-color: rgba(0,5,100,60);}

.im img{height: 60px;
 width: 60px;
 border-radius: 50%;
float: left;
margin-top: 1px;}


.list ul li{
display:inline-block;
float: right;
 padding: 10px;
font-weight: bold;
font-size: 20px;
margin-right: 20px;

 }
 a{color: white;}
