.project{width: 100%;
    height: 700px;
  
  margin-top: -27px;
float: left;}

p{ font-size: 30px;
color: purple;
text-decoration: underline;
font-weight: bold;
}


.project ul li{padding: 10px;
          color: blue;
          font-size: 25px;
          
           font-weight: bold;
           
           }